.content {
    width: 1600px;
    background-color: #FBFBFB;
}

.header__top {
    height: 75px;
    line-height: 75px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    grid-column-gap: 30px;
    background: #222222;
}

.logo__search {
    display: flex;
    grid-column-gap: 30px;
    list-style-type: none;
    margin-left: 230px;
}

.menu__prof__cart {
    display: flex;
    grid-column-gap: 30px;
    list-style-type: none;
    margin-right: 230px;
}

.header__content {
    background: #F1E4E6;
    display: flex;
    height: 764px;
}

.men {
    width: 800px;
    height: 764px;
}

.h1 {
    width: 568px;
    height: 764px;
    margin-left: 10px;
    margin-top: 290px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 58px;
    color: #222222;
}

.menu {
    list-style-type: none;
    width: 232px;
    height: 764px;

}

.component {
    margin: 65px 200px 0;
}

.component__foto {
    display: flex;
    grid-column-gap: 30px;
    list-style-type: none;
}

.composition {
    width: 1140px;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: auto;
}

.composition__p,
.composition__h {
    text-align: center;
}

h3,
p {
    text-align: center;
}

.content__top {
    display: flex;
    grid-column-gap: 30px;
}

.content__bott {
    display: flex;
    grid-column-gap: 30px;
}

.button {
    align-content: center;
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    margin: 49px auto 96px 730px;
}

.button__color {
    color: #FF6A6A;
}

.botton {
    width: 1600px;
    height: 341px;
    background: #222224;
    margin-top: 96px;
}

.botton__ul {
    display: flex;
    grid-column-gap: 30px;
    list-style-type: none;
}

.botton__li {
    width: 360px;
    height: 150px;
    margin: 103px auto;
    text-align: center;
    color: #FBFBFB;
}

.footer {
    width: 1600px;
    height: 530px;
}

.footer__ul {
    display: flex;
    grid-column-gap: 223px;
    list-style-type: none;
    background-image: url(img/footer-back.png);
    height: 450px;
    margin-top: 0px;
}

.footer__li {
    width: 365px;
    height: 200px;
    text-align: center;
    margin: auto;
}

/*.form {}*/

.input {
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    border-radius: 50px 0 0 50px;
    border: #E1E1E1;
    margin-right: 0px;
}

.submit {
    width: 100px;
    height: 49px;
    background: #F16D7F;
    border: #F16D7F;
    border-radius: 0 50px 50px 0;
    margin-left: 0px;
}